@model Laundry.Data.Models.Customer.CustomerIndexModel

@{
    ViewData["Title"] = "مشتریان";
}

<h2>لیست مشتریان</h2>

<p>
    <a asp-action="add">ایجاد مشتری جدید</a>
</p>
<table class="table table-hover table-responsive table-bordered">
    <thead>
        @if (Model.Customer !=null)
        {

        }
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.First().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.First().Phone)
            </th>
            <th>تنظیمات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customer != null)
        {
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a href="@Url.Action("Detail", "Customer", new { phone = item.Phone })">
                            <span class="glyphicon glyphicon-info-sign pull-right"></span>
                        </a>
                        <span class="pull-right">&nbsp;|&nbsp;</span>
                        <a href="@Url.Action("Delete", "Customer", new { phone = item.Phone })">
                            <span class="glyphicon glyphicon-trash pull-right"></span>
                        </a>
                        <span class="pull-right">&nbsp;|&nbsp;</span>
                        <a href="@Url.Action("Edit", "Customer", new { phone = item.Phone })">
                            <span class="glyphicon glyphicon-edit pull-right"></span>
                        </a>
                    </td>
                </tr>
            }}
    </tbody>
</table>
